* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins_medium, Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0;


    
}

@font-face {
    font-family: 'porter_sans_block';
    src: url('../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.eot');
    src: url('../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.woff') format('woff'),
         url('../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_bold';
    src: url('../assets/fonts/poppins/poppins-bold-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_semi_bold';
    src: url('../assets/fonts/poppins/poppins-semibold-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_medium';
    src: url('../assets/fonts/poppins/poppins-medium-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_regular';
    src: url('../assets/fonts/poppins/poppins-regular-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

/** NAVIGATION **/
nav {

    position: relative;

}

nav .navInner {

    position: absolute;
    top: 0px;
    width: 92%;
    /* background-color: #45016E; */
    /* opacity: 0.5; */
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 40px;
    margin-top: 1%;
    background: rgba(197, 178, 208, 0.8);
    z-index: 2;

    /**font-family: 'Porter Sans Block';**/
    font-size: 20px;
    color: #000000;
    left: 2%;

}

.flexContainerNav {

    display: flex;
    justify-content: space-around;
    align-items: center;

}


.flexContainerNav .flexNavItem {



}


.flexContainerNav .flexNavItem .navLogo {

    width: 266px;
    transform: scale(1);
	transition: .3s ease-in-out;

}

.flexContainerNav .flexNavItem .navLogo:hover {

    /**filter: contrast(0.5);**/
    transform: scale(1.1);

}

.flexContainerNav .flexNavItem.flexNavItemImage {
    overflow: hidden;
    position: relative;
}

.flexContainerNav .flexNavItem.flexNavItemImage a::before {
	position: absolute;
	top: 0;
	left: -70%;
	z-index: 2;
	display: block;
	content: '';
	width: 40%;
	height: 100%;
	background: linear-gradient(to right, rgba(230,23,41,0) 0%, rgba(230,23,41,.4) 100%);
	transform: skewX(-30deg);
}

.flexContainerNav .flexNavItem.flexNavItemImage a:hover::before {
	animation: sheem .8s;
}

.flexContainerNav .flexNavItem .navLink {

    text-decoration: none;
    color: #333333;
    margin-right: 2em;
    font-weight: 400;
    font-size: 20px;
    position: relative;

}
  
.flexContainerNav .flexNavItem .navLink::before {
    
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #FFFFFF;
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;

}
  
.flexContainerNav .flexNavItem .navLink:hover::before {

    transform-origin: left;
    transform: scaleX(1);

}

.flexContainerNav .flexNavItem .navLink:hover {

    color: #ffffff;

}

.flexContainerNav .flexNavItem .navLink.activeNav {

    color: #E61729;

}

.flexContainerNav .flexNavItem .navLink.activeNav::before {
    
    height: 0px;

}

.flexContainerNav .flexNavItem .flexContainerNavSearch {

    background: #ffffff;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-bottom: 1%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;

}

.flexContainerNav .flexNavItem .flexNavSearchItem {

    position: relative;

}

.flexContainerNav .flexNavItem .flexContainerNavSearch .flexNavSearchItemSearchPic img {

    position: relative;
    top: 2px;
    margin-left: 4%;
    width: 35px;

}

.flexContainerNav .flexNavItem .flexContainerNavSearch input {

    border: 0px;
    border-right: 2px solid #999999;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #333333;

}

.flexContainerNav .flexNavItem .flexContainerNavSearch input::placeholder {

    color: #999999;

}

.flexContainerNav .flexNavItem .flexContainerNavSearch .flexNavSearchItemBasketPic {

    padding-right: 10px;

}

.flexContainerNav .flexNavItem .flexContainerNavSearch .flexNavSearchItemBasketPic img {

    padding: 5px 15px 5px 10px;
    position: relative;
    top: 2px;

}

.flexContainerNav .flexNavItem .flexContainerNavSearch .flexNavSearchItemBasketPic .cartItemsAmount {

    position: absolute;
    border-radius: 50px;
    background-color: #f54b4c;
    color: #ffffff;
    padding: 7px 11px;
    font-size: 16px;
    top: -19px;
    right: -4px;

}

/** INDEX **/
/** HEADER **/
header {

    position: relative;
    max-height: 940px;
    max-width: 100%;
    overflow: hidden;

}

header img {

    width: 100%;
    height: 100%;

}

header .headerTextContainer {

    position: absolute;
    bottom: 0px;

}

header .headerTextContainer h1 {

    font-family: Porter_Sans_Block;
    text-transform: uppercase;
    font-size: 48px;
    width: 60%;
    margin-left: 15%;
    color: #f54b4c;
    margin-bottom: 0px;
    /**text-shadow: 10px 10px #f54b4c;**/

}

header .headerTextContainer h3 {

    font-family: arial;
    text-transform: uppercase;
    color: #45016E;
    width: 60%;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 6%;
    font-size: 24px;

}

/** TRIP BOOKER **/
.tripBooker {

    background: #45016E;
    
}

.tripBooker .flexContainerTripBooker {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem {
    flex: 50%;
    position: relative;
}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft {

    text-align: right;
    width: 100%;
    padding: 7% 4%;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner {

    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 609px;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftLeft {

    position: absolute;
    left: 2%;
    top: 45%;
    z-index: 2;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftLeft img {

    width: 30px;
    filter: opacity(0.6);

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftLeft:hover {

    cursor: pointer;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftLeft:hover img {

    filter: opacity(1);

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftMiddle {

    width: 100%;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftMiddle:hover {

    /**filter: blur(2px);**/

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftRight {

    position: absolute;
    right: 2%;
    top: 45%;
    z-index: 2;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftRight img {

    width: 30px;
    filter: opacity(0.6);

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftRight:hover {

    cursor: pointer;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftRight:hover img {

    filter: opacity(1);

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerRight {

    text-align: left;
    width: 100%;
    padding: 7% 4%;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerRight .flexTripBookerItemInnerRightInner {

    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 609px;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerRight .flexTripBookerItemInnerRightInner h4 {

    color: #53bfdb;
    text-transform: uppercase;
    font-family: poppins_medium;
    font-size: 18px;
    margin-bottom: 0px;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerRight .flexTripBookerItemInnerRightInner h2 {

    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    font-family: poppins_bold;
    font-size: 48px;
    line-height: 65px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerRight .flexTripBookerItemInnerRightInner p {

    color: #ffffff;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 18px;
    margin-top: 0px;
    line-height: 30px;
    width: 80%;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerRight .flexTripBookerItemInnerRightInner .buttonBookNow {

    color: #ffffff;
    background-color: #E61729;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    width: 270px;
    height: 70px;
    font-family: poppins_semi_bold;
    border: none;
    margin-top: 20px;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerRight .flexTripBookerItemInnerRightInner .buttonBookNow:hover {

    cursor: pointer;
    color: #E61729;
    background-color: #ffffff;

}


/** SHUTTLES **/
.shuttle .flexContainerShuttle {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.shuttle .flexContainerShuttle .flexShuttleItem {
    flex: 50%;
    position: relative;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerLeft {
    text-align: right;
    width: 100%;
    padding: 7% 4%;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerLeft .flexShuttleItemInnerLeftInner {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 609px;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerLeft .flexShuttleItemInnerLeftInner h4 {
    text-align: left;
    color: #53bfdb;
    text-transform: uppercase;
    font-family: poppins_medium;
    font-size: 18px;
    margin-bottom: 0px;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerLeft .flexShuttleItemInnerLeftInner h2 {
    text-align: left;
    color: #45016E;
    font-weight: 800;
    font-family: poppins_bold;
    font-size: 48px;
    line-height: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerLeft .flexShuttleItemInnerLeftInner p {
    text-align: left;
    color: #333333;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 18px;
    margin-top: 0px;
    line-height: 30px;
    width: 75%;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerRight {
    text-align: left;
    width: 100%;
    padding: 7% 4%;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerRight .flexShuttleItemInnerRightInner {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 609px;
    overflow: hidden;
    border-radius: 35px;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerRight .flexShuttleItemInnerRightInner::before {
	position: absolute;
	top: 0;
	left: -70%;
	z-index: 2;
	display: block;
	content: '';
	width: 40%;
	height: 100%;
	background: linear-gradient(to right, rgba(230,23,41,0) 0%, rgba(230,23,41,.4) 100%);
	transform: skewX(-30deg);
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerRight .flexShuttleItemInnerRightInner:hover::before {
	animation: sheem .8s;
}
@keyframes sheem {
	100% {
		left: 125%;
	}
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerRight .flexShuttleItemInnerRightInner img {
    width: 100%;
	transform: scale(1);
	transition: .3s ease-in-out;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerRight .flexShuttleItemInnerRightInner:hover img {
    /**filter: grayscale(80%);**/
	transform: scale(1.2);
}


/** SNEAK PEAK **/
.sneakPeak {

    background: #45016E;

}

.sneakPeak .sneakPeakInner {

    padding: 4% 4%;
    
}

.sneakPeak .sneakPeakInner h4 {

    text-align: center;
    color: #53bfdb;
    text-transform: uppercase;
    font-family: poppins_medium;
    font-size: 18px;
    margin-bottom: 0px;
    
}

.sneakPeak .sneakPeakInner h2 {

    text-align: center;
    color: #ffffff;
    font-weight: 800;
    font-family: poppins_bold;
    font-size: 48px;
    line-height: 65px;
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 3%;
    
}

.sneakPeak .sneakPeakInner .flexContainerSneakPeak {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.sneakPeak .sneakPeakInner .flexContainerSneakPeak .flexSneakPeakItem {

    flex: 25%;

}

.sneakPeak .sneakPeakInner .flexContainerSneakPeak .flexSneakPeakItem .flexSneakPeakItemInner img {

    display: block;
    margin: 0 auto;
    width: 278px;

}

.sneakPeak .sneakPeakInner .flexContainerSneakPeak .flexSneakPeakItem .flexSneakPeakItemInner:hover img {

    filter:grayscale(80%)

}

.sneakPeak .sneakPeakInner .flexContainerSneakPeak .flexSneakPeakItem .flexSneakPeakItemInner h5 {

    text-align: center;
    color: #ffffff;
    font-weight: 800;
    font-family: 'poppins_medium';
    font-size: 20px;
    line-height: 30px;
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;

}

.sneakPeak .sneakPeakInner .flexContainerSneakPeak .flexSneakPeakItem .flexSneakPeakItemInner p {

    text-align: center;
    color: #ffffff;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 16px;
    line-height: 30px;
    width: 85%;
    margin: 0 auto;

}

.sneakPeak .sneakPeakInner .buttonBookNow {

    color: #ffffff;
    background-color: #E61729;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    width: 270px;
    height: 70px;
    font-family: poppins_semi_bold;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 5%;

}

.sneakPeak .sneakPeakInner .buttonBookNow:hover {

    cursor: pointer;
    color: #E61729;
    background-color: #ffffff;

}


/** FOOTER **/
footer {

    padding: 4% 5%;

}

.flexContainerFooter {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 2%;

}

.flexContainerFooter.flexContainerTopFooter {

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.flexContainerFooter .flexFooterItem.flexFooterItemBig {

    flex: 40%;

}

.flexContainerFooter .flexFooterItem.flexFooterItemSmall {

    flex: 20%;

}

.flexContainerFooter .flexFooterItem .flexFooterItemInner {
    width: 60%;
}

.flexContainerFooter .flexFooterItem.footerMainParagraph .flexFooterItemInner p {

    text-align: left;
    color: #676767;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 18px;
    margin-top: 0px;
    line-height: 30px;

}

.flexContainerFooter .flexFooterItem.footerMenu .flexFooterItemInner a {

    text-align: left;
    color: #676767;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 18px;
    margin-top: 0px;
    line-height: 30px;
    display: block;
    text-decoration: none;
    margin-bottom: 15px;

}

.flexContainerFooter .flexFooterItem.footerMenu .flexFooterItemInner a:hover {

    color: #E61729;

}

footer hr {

    opacity: 0.2;
    width: 96%;
    margin-top: 40px;
    margin-bottom: 40px;

}

.flexContainerFooter.footerRowBottom {

    padding: 0% 0%;

}

.flexContainerFooter.footerRowBottom .flexFooterItem .flexFooterItemInner {

    width: 65%;

}

.flexContainerFooter.footerRowBottom .flexFooterItem .flexFooterItemInner p {

    text-align: left;
    color: #676767;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 16px;
    margin-top: 0px;
    line-height: 28px;
    opacity: 0.8;

}

.flexContainerFooter .flexFooterItem.footerSubParagraph .flexFooterItemInner {

    float: right;
    width: 100%;

}

.flexContainerFooter .flexFooterItem.footerSubParagraph.footerLinks .flexFooterItemInner p {

    color: #676767;
    font-weight: 600;
    font-family: poppins_regular;
    font-size: 16px;
    margin-top: 0px;
    line-height: 28px;
    opacity: 0.8;
    text-align: right;

}

.flexContainerFooter .flexFooterItem.footerSubParagraph.footerLinks .flexFooterItemInner p a {

    text-align: right;
    color: #676767;
    font-weight: 600;
    font-family: poppins_regular;
    font-size: 18px;
    margin-top: 0px;
    line-height: 30px;
    text-decoration: none;
    margin-bottom: 15px;
    margin-left: 6%;

}

.flexContainerFooter .flexFooterItem.footerSubParagraph.footerLinks .flexFooterItemInner p a:hover {

    color: #E61729;

}



.flexContainerFooter .flexFooterItem.footerLogo img {

    width: 266px;
    transform: scale(1);
	transition: .3s ease-in-out;

}

.flexContainerFooter .flexFooterItem.footerLogo img:hover {

    transform: scale(1.1);

}

.flexContainerFooter .flexFooterItem.footerLogo:hover img {

    /**filter: contrast(0.5);**/

}

.flexContainerFooter .flexFooterItem.footerLogo .flexFooterItemInner {
    overflow: hidden;
    position: relative;
}

.flexContainerFooter .flexFooterItem.footerLogo .flexFooterItemInner a::before {
	position: absolute;
	top: 0;
	left: -70%;
	z-index: 2;
	display: block;
	content: '';
	width: 40%;
	height: 100%;
	background: linear-gradient(to right, rgba(230,23,41,0) 0%, rgba(230,23,41,.4) 100%);
	transform: skewX(-30deg);
}

.flexContainerFooter .flexFooterItem.footerLogo .flexFooterItemInner a:hover::before {
	animation: sheem .8s;
}



.flexContainerFooter .flexFooterItem.footerHeading h6 {

    font-family: poppins_medium;
    font-size: 18px;
    color: #676767;

}

.flexContainerFooter .flexFooterItem .flexContainerSocials {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;

}

.flexContainerFooter .flexFooterItem .flexContainerSocials .flexSocialsItem {

    flex: 25%;

}

.flexContainerFooter .flexFooterItem .flexContainerSocials .flexSocialsItem img {

    width: 77px;

}

.flexContainerFooter .flexFooterItem .flexContainerSocials .flexSocialsItem:hover img {

    filter: contrast(0.5);

}









/** FLIGHTS **/
/** HEADER **/
.flightsPage header.backgroundImage, 
.contactPage header.backgroundImage  {
    width: 100%;
    height: 500px;
    text-align: center;
    background-image: url('../assets/images/headerbackBack.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.flightsPage header.backgroundImage .headerTextContainer, 
.contactPage header.backgroundImage .headerTextContainer {
    text-align: center;
    top: 35%;
    position: relative;
}

.flightsPage header.backgroundImage .headerTextContainer h1,
.contactPage header.backgroundImage .headerTextContainer h1 {
    font-family: Porter_Sans_Block;
    text-transform: uppercase;
    font-size: 48px;
    width: 100%;
    color: #ffffff;
    margin-bottom: 0px;
    margin-left: 0%;
}

.flightsPage header.backgroundImage .headerFilterContainer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #45016E;
    padding: 1%;
}

.flightsPage header.backgroundImage .headerFilterContainer .flexContainerHeaderFilterContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flightsPage header.backgroundImage .headerFilterContainer .flexContainerHeaderFilterContainer .flexHeaderFilterContainerItem {
    flex: 50%;
}

.flightsPage header.backgroundImage .headerFilterContainer .flexContainerHeaderFilterContainer .flexHeaderFilterContainerItem .flexHeaderFilterContainerItemInner.flexHeaderFilterContainerItemInnerLeft {

    text-align: left;
    margin-left: 15%;

}

.flightsPage header.backgroundImage .headerFilterContainer .flexContainerHeaderFilterContainer .flexHeaderFilterContainerItem .flexHeaderFilterContainerItemInner.flexHeaderFilterContainerItemInnerLeft .flexHeaderFilterContainerItemInnerLeftInner { 

    display: inline-block;
    vertical-align: middle;
    margin-right: 2%;

}

.flexContainerHeaderFilterContainer .flexHeaderFilterContainerItem .flexHeaderFilterContainerItemInner.flexHeaderFilterContainerItemInnerLeft .flexHeaderFilterContainerItemInnerLeftInner p { 

    color: #ffffff;
    font-weight: 600;
    font-family: poppins_regular;
    font-size: 18px;

}

.flexContainerHeaderFilterContainer .flexHeaderFilterContainerItem .flexHeaderFilterContainerItemInner.flexHeaderFilterContainerItemInnerLeft .flexHeaderFilterContainerItemInnerLeftInner p.borderLeft { 

    width: 3px;
    background: #999999;
    height: 40px;

}

.flightsPage header.backgroundImage .headerFilterContainer .flexContainerHeaderFilterContainer .flexHeaderFilterContainerItem .flexHeaderFilterContainerItemInner.flexHeaderFilterContainerItemInnerRight {

    text-align: right;
    margin-right: 15%;

}

.flightsPage header.backgroundImage .headerFilterContainer .flexContainerHeaderFilterContainer .flexHeaderFilterContainerItem .flexHeaderFilterContainerItemInner.flexHeaderFilterContainerItemInnerRight .flexHeaderFilterContainerItemInnerRightInner  { 

    display: inline-block;
    vertical-align: middle;
    margin-right: 2%;

}

.flightsPage header.backgroundImage .headerFilterContainer .flexContainerHeaderFilterContainer .flexHeaderFilterContainerItem .flexHeaderFilterContainerItemInner.flexHeaderFilterContainerItemInnerRight .flexHeaderFilterContainerItemInnerRightInner p { 

    color: #ffffff;
    font-weight: 600;
    font-family: poppins_regular;
    font-size: 18px;

}

.flightsPage header.backgroundImage .headerFilterContainer .flexContainerHeaderFilterContainer .flexHeaderFilterContainerItem .flexHeaderFilterContainerItemInner.flexHeaderFilterContainerItemInnerRight .flexHeaderFilterContainerItemInnerRightInner p span { 

    background: rgba(197, 178, 208, 0.8);
    padding: 20px;
    border-radius: 15px;
    color: #45016E;

}

.flightsPage header.backgroundImage .headerFilterContainer .flexContainerHeaderFilterContainer .flexHeaderFilterContainerItem .flexHeaderFilterContainerItemInner.flexHeaderFilterContainerItemInnerRight .flexHeaderFilterContainerItemInnerRightInner p span.paddingRight { 

    padding-right: 70%;

}


header.backgroundImage img {

    width: auto;
    height: auto;

}


/** FLIGHTS **/
/** TRIP BOOKER **/
.flights.flightsWhite {

    background: #ffffff;
    
}

.flights.flightsPurple {

    background: #45016E;
    
}

.flights .flexContainerFlights {

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 5%;

}

.flights .flexContainerFlights .flexFlightsItem {
    position: relative;
}

.flights .flexContainerFlights .flexFlightsItem.flexFlightsItemLeft {
    flex: 40%;
}

.flights .flexContainerFlights .flexFlightsItem.flexFlightsItemRight {
    flex: 60%;
}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerLeft {

    text-align: right;
    width: 100%;
    padding: 14% 4%;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerLeft .flexFlightsItemInnerLeftInner {

    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 609px;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerLeft .flexFlightsItemInnerLeftInner .img {

    width: 100%;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerLeft .flexFlightsItemInnerLeftInner:hover img {

    filter: grayscale(80%);

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight {

    text-align: left;
    width: 100%;
    padding: 6% 5%;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner {

    position: relative;
    display: inline-block;
    width: 100%;
    /**max-width: 609px;**/

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner h2 {

    text-align: left;
    color: #45016E;
    font-weight: 800;
    font-family: poppins_bold;
    font-size: 48px;
    line-height: 65px;
    margin-top: 20px;
    margin-bottom: -1%;

}

.flights.flightsPurple .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner h2 {

    color: #ffffff;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInner h3 {

    text-align: left;
    display: inline-block;
    margin-right: 5%;
    color: #676767;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 18px;

}

.flights.flightsPurple .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInner h3 {

    color: #53bfdb;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInner h3.flexFlightsItemInnerRightInnerInnerPriceOld {

    text-decoration: line-through;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInner.flexFlightsItemInnerRightInnerInnerReviews {

    margin-top: -3%;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInner.flexFlightsItemInnerRightInnerInnerReviews span {

    display: inline-block;
    vertical-align: middle;
    margin-right: 0%;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInner.flexFlightsItemInnerRightInnerInnerReviews p.flexFlightsItemInnerRightInnerInnerReview {

    color: #676767;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 14px;

}

.flights.flightsPurple .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInner.flexFlightsItemInnerRightInnerInnerReviews p.flexFlightsItemInnerRightInnerInnerReview {

    color: #999999;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInner.flexFlightsItemInnerRightInnerInnerReviews .flexFlightsItemInnerRightInnerInnerBorderHolder {

    margin-left: 3%;
    margin-right: 3%;

} 

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInner.flexFlightsItemInnerRightInnerInnerReviews p.flexFlightsItemInnerRightInnerInnerBorder {

    width: 2px;
    background: #999999;
    height: 40px;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInnerDescription {
    color: #333333;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 18px;
    margin-top: 0px;
    line-height: 30px;
    width: 90%;

}

.flights.flightsPurple .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInnerDescription {
    color: #ffffff;
}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .buttonAmount {

    color: #ffffff;
    background-color: #45016E;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    width: 150px;
    height: 70px;
    font-family: poppins_semi_bold;
    border: none;
    margin-top: 20px;
    margin-right: 5%;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .buttonAmount:hover {

    color: #ffffff;
    background-color: #E61729;
    cursor: pointer;

}

.flights.flightsPurple .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .buttonAmount {

    background-color: #53bfdb;

}

.flights.flightsPurple .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .buttonAmount:hover {

    color: #ffffff;
    background-color: #E61729;
    cursor: pointer;
}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .buttonAmount .buttonAmountLeft {

    text-align: left;
    display: inline-block;
    width: 10%;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .buttonAmount .buttonAmountMiddle {

    text-align: center;
    display: inline-block;
    width: 80%;
    
}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .buttonAmount .buttonAmountRight {

    text-align: left;
    display: inline-block;
    width: 10%;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .buttonBookNow {

    color: #ffffff;
    background-color: #E61729;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    width: 270px;
    height: 70px;
    font-family: poppins_semi_bold;
    border: none;
    margin-top: 20px;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .buttonBookNow:hover {

    color: #ffffff;
    background-color: #45016E;
    cursor: pointer;

}

.flights.flightsPurple .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .buttonBookNow:hover {

    color: #ffffff;
    background-color: #53bfdb;
    cursor: pointer;
}


.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner hr {

    opacity: 0.2;
    width: 96%;
    margin-top: 50px;
    margin-bottom: 50px;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInner .flexFlightsItemInnerRightInnerInnerDetails .flexFlightsItemInnerRightInnerInnerDetailsRow {

    color: #676767;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 18px;
    margin-top: 0px;
    line-height: 20px;
    opacity: 0.7;

}

.flights.flightsPurple .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInner .flexFlightsItemInnerRightInnerInnerDetails .flexFlightsItemInnerRightInnerInnerDetailsRow {

    color: #999999;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInner .flexFlightsItemInnerRightInnerInnerDetails .flexFlightsItemInnerRightInnerInnerDetailsRow.flexFlightsItemInnerRightInnerInnerDetailsRowLeft {

    width: 20%;
    display: inline-block;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInner .flexFlightsItemInnerRightInnerInnerDetails .flexFlightsItemInnerRightInnerInnerDetailsRow.flexFlightsItemInnerRightInnerInnerDetailsRowMiddle {

    width: 5%;
    display: inline-block;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInner .flexFlightsItemInnerRightInnerInnerDetails .flexFlightsItemInnerRightInnerInnerDetailsRow.flexFlightsItemInnerRightInnerInnerDetailsRowRight {

    width: 50%;
    display: inline-block;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .flexFlightsItemInnerRightInnerInnerCartButton {

    text-align: right;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .buttonViewCart {

    color: #ffffff;
    background-color: #E61729;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    width: 270px;
    height: 70px;
    font-family: poppins_semi_bold;
    border: none;
    margin-top: 20px;

}

.flights .flexContainerFlights .flexFlightsItem .flexFlightsItemInner.flexFlightsItemInnerRight .flexFlightsItemInnerRightInner .buttonViewCart:hover {

    color: #ffffff;
    background-color: #53bfdb;
    cursor: pointer;

}

/** CONTACT **/
/** HEADER **/


/** ABOUT **/
.about .flexContainerAbout {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;

}

.about .flexContainerAbout .flexAboutItem {
    flex: 50%;
    position: relative;
}

.about .flexContainerAbout .flexAboutItem .flexAboutItemInner.flexAboutItemInnerLeft {
    text-align: right;
    width: 100%;
    padding: 7% 4%;
}

.about .flexContainerAbout .flexAboutItem .flexAboutItemInner.flexAboutItemInnerLeft .flexAboutItemInnerLeftInner {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 609px;
}

.about .flexContainerAbout .flexAboutItem .flexAboutItemInner.flexAboutItemInnerLeft .flexAboutItemInnerLeftInner h4 {
    text-align: left;
    color: #53bfdb;
    text-transform: uppercase;
    font-family: poppins_medium;
    font-size: 18px;
    margin-bottom: 0px;
}

.about .flexContainerAbout .flexAboutItem .flexAboutItemInner.flexAboutItemInnerLeft .flexAboutItemInnerLeftInner h2 {
    text-align: left;
    color: #45016E;
    font-weight: 800;
    font-family: poppins_bold;
    font-size: 48px;
    line-height: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about .flexContainerAbout .flexAboutItem .flexAboutItemInner.flexAboutItemInnerLeft .flexAboutItemInnerLeftInner p {
    text-align: left;
    color: #333333;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 18px;
    margin-top: 0px;
    line-height: 30px;
    width: 75%;
}

.about .flexContainerAbout .flexAboutItem .flexAboutItemInner.flexAboutItemInnerRight {
    text-align: left;
    width: 100%;
    padding: 7% 4%;
}

.about .flexContainerAbout .flexAboutItem .flexAboutItemInner.flexAboutItemInnerRight .flexAboutItemInnerRightInner {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 609px;
}

.about .flexContainerAbout .flexAboutItem .flexAboutItemInner.flexAboutItemInnerRight .flexAboutItemInnerRightInner img {
    width: 100%;
}

.about .flexContainerAbout .flexAboutItem .flexAboutItemInner.flexAboutItemInnerRight .flexAboutItemInnerRightInner:hover img {
    filter: grayscale(80%);
}


/** CONTACT **/
.contact {

    margin-top: 5%;
}

.contact .flexContainerContact {

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.contact .flexContainerContact .flexContactItem {

    flex: 50%;

}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerLeft {

    text-align: right;
    width: 100%;
    padding: 7% 4%;

}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerLeft .flexContactItemInnerLeftInner {

    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 609px;

}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerLeft .flexContactItemInnerLeftInner h4 {

    text-align: left;
    color: #53bfdb;
    text-transform: uppercase;
    font-family: poppins_medium;
    font-size: 18px;
    margin-bottom: 0px;

}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerLeft .flexContactItemInnerLeftInner h2 {

    text-align: left;
    color: #45016E;
    text-transform: uppercase;
    font-weight: 800;
    font-family: poppins_bold;
    font-size: 48px;
    line-height: 65px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerLeft .flexContactItemInnerLeftInner .flexContactMap {

    text-align: left;

}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerLeft .flexContactItemInnerLeftInner {

}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerLeft .flexContactItemInnerLeftInner .flexContainerContactSocials  {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-bottom: 15%;

}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerLeft .flexContactItemInnerLeftInner .flexContainerContactSocials .flexContactSocialsItem {

    flex: 25%;

}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerLeft .flexContactItemInnerLeftInner .flexContainerContactSocials .flexContactSocialsItem .flexContactSocialsItemInner {



}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerLeft .flexContactItemInnerLeftInner .flexContainerContactSocials .flexContactSocialsItem .flexContactSocialsItemInner img {

    width: 97px;

}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerLeft .flexContactItemInnerLeftInner .flexContainerContactSocials .flexContactSocialsItem .flexContactSocialsItemInner:hover img {

    filter: contrast(0.5);

}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerRight  {

    text-align: left;
    width: 90%;
    padding: 7% 4%;

}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerRight .flexContactItemInnerRightInner {

    position: relative;
    display: inline-block;
    width: 100%;

}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerRight .flexContactItemInnerRightInner {

}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerRight .flexContactItemInnerRightInner form {
    background-image: url('../assets/images/formBack.png');
    background-size: cover;
    background-position: center;
    padding: 6%;
    border-radius: 40px;
    width: 90%;
}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerRight .flexContactItemInnerRightInner form h2 {
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    font-family: poppins_bold;
    font-size: 48px;
    line-height: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerRight .flexContactItemInnerRightInner form fieldset {
    border: 0;
}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerRight .flexContactItemInnerRightInner form fieldset p {
    text-align: left;
    color: #ffffff;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 18px;
    margin-top: 3%;
    line-height: 30px;
    width: 100%;
    margin-bottom: 3%;
}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerRight .flexContactItemInnerRightInner form fieldset input {
    width: 100%;
    padding: 5% 4%;
    border-radius: 10px;
    color: #333333;
    font-family: poppins_regular;
    font-size: 16px;
    margin-bottom: 4%;
}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerRight .flexContactItemInnerRightInner form fieldset input::placeholder {
    opacity: 0.8;
}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerRight .flexContactItemInnerRightInner form fieldset textarea {
    width: 100%;
    padding: 5% 4%;
    border-radius: 10px;
    color: #333333;
    font-family: poppins_regular;
    font-size: 16px;
    height: 120px;
    margin-bottom: 4%;
}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerRight .flexContactItemInnerRightInner form fieldset #contactUsSubmit {
    color: #ffffff;
    background-color: #E61729;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    width: 270px;
    height: 70px;
    font-family: poppins_semi_bold;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact .flexContainerContact .flexContactItem .flexContactItemInner.flexContactItemInnerRight .flexContactItemInnerRightInner form fieldset #contactUsSubmit:hover {
    color: #E61729;
    background-color: #ffffff;
    cursor: pointer;
}


/** ABOUT US PAGE **/

/** NAV **/

.aboutPage .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.aboutPage .navInner .navbar-brand {
    margin-left: 2em;
}

.aboutPage .navInner .navbar-brand .navLogo {
    width: 266px;
}

.aboutPage .navbar .navbar-nav {
    margin: 0 auto;
}

.aboutPage .navInner .flexContainerNavSearch {
    background: #ffffff;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 2em;
}

.aboutPage .navInner .flexContainerNavSearch .flexNavSearchItem {
    position: relative;
}

.aboutPage .navInner .flexContainerNavSearch .flexNavSearchItem.flexNavSearchItemSearchPic img {
    position: relative;
    top: 2px;
    margin-left: 4%;
    width: 35px;
}

.aboutPage .navInner .flexContainerNavSearch .flexNavSearchItem form input {
    border: 0px;
    border-right: 2px solid #999999;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
}

.aboutPage .navInner .flexContainerNavSearch .flexNavSearchItem.flexNavSearchItemBasketPic img {
    padding: 5px 10px 5px 10px;
    position: relative;
    top: 2px;
}

.aboutPage .navInner .flexContainerNavSearch .flexNavSearchItem.flexNavSearchItemBasketPic .cartItemsAmount {
    position: absolute;
    border-radius: 50px;
    background-color: #f54b4c;
    color: #ffffff;
    padding: 5px 13px;
    font-size: 16px;
    top: -28px;
    right: -25px;
}

/** HEADER **/

.aboutPage .backgroundImage {
    height: 400px;
    background-image: url(../assets/images/headerbackBack.png);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.aboutPage .backgroundImage h1 {
    top: 50%;
    position: relative;
    font-family: Porter_Sans_Block;
}


/** HISTORY AND GOALS **/

.aboutPage .containerTextImage h5 {

    color: #53bfdb;
    font-family: poppins_medium;

}

.aboutPage .containerTextImage h2 {

    color: #45016E;
    font-family: poppins_bold;

}

.aboutPage .containerTextImage p {

    font-family: poppins_regular;

}

.aboutPage .containerTextImage ol {

    font-family: poppins_regular;

}

.aboutPage .colTextImageInnerRight {

    height: 100%;
    overflow: hidden;
    border-radius: 50px;

}

.aboutPage .containerTextImage img {

    transform: translateX(-50%);
    height: 100%;
    position: relative;
    left: 50%;

}



