* {
    box-sizing: border-box;
}

body {
    font-family: poppins_medium, Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0;


    width: 1440px;
    margin: 0 auto;
    display: block;
}

@font-face {
    font-family: 'porter_sans_block';
    src: url('../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.eot');
    src: url('../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.woff') format('woff'),
         url('../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_bold';
    src: url('../assets/fonts/poppins/poppins-bold-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_semi_bold';
    src: url('../assets/fonts/poppins/poppins-semibold-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_medium';
    src: url('../assets/fonts/poppins/poppins-medium-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_regular';
    src: url('../assets/fonts/poppins/poppins-regular-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

/** NAVIGATION **/
nav {

    position: relative;

}

nav .navInner {

    position: absolute;
    top: 0px;
    width: 92%;
    /* background-color: #45016E; */
    /* opacity: 0.5; */
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 40px;
    margin-top: 1%;
    background: rgba(197, 178, 208, 0.8);
    z-index: 2;

    /**font-family: 'Porter Sans Block';**/
    font-size: 20px;
    color: #000000;
    left: 2%;

}

.flexContainerNav {

    display: flex;
    justify-content: space-around;
    align-items: center;

}


.flexContainerNav .flexNavItem {



}


.flexContainerNav .flexNavItem .navLogo {

    width: 266px;

}

.flexContainerNav .flexNavItem .navLink {

    text-decoration: none;
    color: #333333;
    margin-right: 2em;
    font-weight: 400;
    font-size: 20px;

}

.flexContainerNav .flexNavItem .navLink.activeNav {

    color: #E61729;

}

.flexContainerNav .flexNavItem .flexContainerNavSearch {

    background: #ffffff;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-bottom: 3%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;

}

.flexContainerNav .flexNavItem .flexNavSearchItem {

    position: relative;

}

.flexContainerNav .flexNavItem .flexContainerNavSearch .flexNavSearchItemSearchPic img {

    position: relative;
    top: 3px;
    margin-left: 4%;
    width: 35px;

}

.flexContainerNav .flexNavItem .flexContainerNavSearch input {

    border: 0px;
    border-right: 2px solid #999999;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #333333;

}

.flexContainerNav .flexNavItem .flexContainerNavSearch input::placeholder {

    color: #333333;

}

.flexContainerNav .flexNavItem .flexContainerNavSearch .flexNavSearchItemBasketPic {

    padding-right: 10px;

}

.flexContainerNav .flexNavItem .flexContainerNavSearch .flexNavSearchItemBasketPic img {

    padding: 5px 15px 5px 10px;
    position: relative;
    top: 4px;

}

.flexContainerNav .flexNavItem .flexContainerNavSearch .flexNavSearchItemBasketPic .cartItemsAmount {

    position: absolute;
    border-radius: 50px;
    background-color: #f54b4c;
    color: #ffffff;
    padding: 7px 11px;
    font-size: 16px;
    top: -19px;
    right: -4px;

}

/** HEADER **/
header {

    position: relative;
    max-height: 940px;
    max-width: 100%;
    overflow: hidden;

}

header img {

    width: 100%;
    height: 100%;

}

header .headerTextContainer {

    position: absolute;
    bottom: 0px;

}

header .headerTextContainer h1 {

    font-family: Porter_Sans_Block;
    text-transform: uppercase;
    font-size: 48px;
    width: 60%;
    margin-left: 15%;
    color: #f54b4c;
    margin-bottom: 0px;
    /**text-shadow: 10px 10px #f54b4c;**/

}

header .headerTextContainer h3 {

    font-family: arial;
    text-transform: uppercase;
    color: #45016E;
    width: 60%;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 6%;
    font-size: 24px;

}

/** TRIP BOOKER **/
.tripBooker {

    background: #45016E;
    
}

.tripBooker .flexContainerTripBooker {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem {
    flex: 50%;
    position: relative;
}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft {

    text-align: right;
    width: 100%;
    padding: 7% 4%;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner {

    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 609px;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftLeft {

    position: absolute;
    left: 2%;
    top: 45%;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftLeft img {

    width: 30px;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftMiddle {

    width: 100%;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftRight {

    position: absolute;
    right: 2%;
    top: 45%;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerLeft .flexTripBookerItemInnerLeftInner .flexTripBookerItemInnerLeftRight img {

    width: 30px;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerRight {

    text-align: left;
    width: 100%;
    padding: 7% 4%;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerRight .flexTripBookerItemInnerRightInner {

    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 609px;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerRight .flexTripBookerItemInnerRightInner h4 {

    color: #53bfdb;
    text-transform: uppercase;
    font-family: poppins_medium;
    font-size: 18px;
    margin-bottom: 0px;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerRight .flexTripBookerItemInnerRightInner h2 {

    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    font-family: poppins_bold;
    font-size: 48px;
    line-height: 65px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerRight .flexTripBookerItemInnerRightInner p {

    color: #ffffff;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 18px;
    margin-top: 0px;
    line-height: 30px;
    width: 80%;

}

.tripBooker .flexContainerTripBooker .flexTripBookerItem .flexTripBookerItemInner.flexTripBookerItemInnerRight .flexTripBookerItemInnerRightInner .buttonBookNow {

    color: #ffffff;
    background-color: #E61729;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    width: 270px;
    height: 70px;
    font-family: poppins_semi_bold;
    border: none;
    margin-top: 20px;

}


/** SHUTTLES **/
.shuttle .flexContainerShuttle {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.shuttle .flexContainerShuttle .flexShuttleItem {
    flex: 50%;
    position: relative;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerLeft {
    text-align: right;
    width: 100%;
    padding: 7% 4%;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerLeft .flexShuttleItemInnerLeftInner {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 609px;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerLeft .flexShuttleItemInnerLeftInner h4 {
    text-align: left;
    color: #53bfdb;
    text-transform: uppercase;
    font-family: poppins_medium;
    font-size: 18px;
    margin-bottom: 0px;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerLeft .flexShuttleItemInnerLeftInner h2 {
    text-align: left;
    color: #45016E;
    font-weight: 800;
    font-family: poppins_bold;
    font-size: 48px;
    line-height: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerLeft .flexShuttleItemInnerLeftInner p {
    text-align: left;
    color: #333333;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 18px;
    margin-top: 0px;
    line-height: 30px;
    width: 75%;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerRight {
    text-align: left;
    width: 100%;
    padding: 7% 4%;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerRight .flexShuttleItemInnerRightInner {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 609px;
}

.shuttle .flexContainerShuttle .flexShuttleItem .flexShuttleItemInner.flexShuttleItemInnerRight .flexShuttleItemInnerRightInner img {
    width: 100%;
}


/** SNEAK PEAK **/
.sneakPeak {

    background: #45016E;

}

.sneakPeak .sneakPeakInner {

    padding: 4% 4%;
    
}

.sneakPeak .sneakPeakInner h4 {

    text-align: center;
    color: #53bfdb;
    text-transform: uppercase;
    font-family: poppins_medium;
    font-size: 18px;
    margin-bottom: 0px;
    
}

.sneakPeak .sneakPeakInner h2 {

    text-align: center;
    color: #ffffff;
    font-weight: 800;
    font-family: poppins_bold;
    font-size: 48px;
    line-height: 65px;
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 3%;
    
}

.sneakPeak .sneakPeakInner .flexContainerSneakPeak {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.sneakPeak .sneakPeakInner .flexContainerSneakPeak .flexSneakPeakItem {

    flex: 25%;

}

.sneakPeak .sneakPeakInner .flexContainerSneakPeak .flexSneakPeakItem .flexSneakPeakItemInner img {

    display: block;
    margin: 0 auto;
    width: 278px;

}

.sneakPeak .sneakPeakInner .flexContainerSneakPeak .flexSneakPeakItem .flexSneakPeakItemInner h5 {

    text-align: center;
    color: #ffffff;
    font-weight: 800;
    font-family: 'poppins_medium';
    font-size: 20px;
    line-height: 30px;
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;

}

.sneakPeak .sneakPeakInner .flexContainerSneakPeak .flexSneakPeakItem .flexSneakPeakItemInner p {

    text-align: center;
    color: #ffffff;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 16px;
    line-height: 30px;
    width: 85%;
    margin: 0 auto;

}

.sneakPeak .sneakPeakInner .buttonBookNow {

    color: #ffffff;
    background-color: #E61729;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    width: 270px;
    height: 70px;
    font-family: poppins_semi_bold;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 5%;

}


/** FOOTER **/
footer {

    padding: 4% 5%;

}

.flexContainerFooter {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 2%;

}

.flexContainerFooter.flexContainerTopFooter {

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.flexContainerFooter .flexFooterItem.flexFooterItemBig {

    flex: 40%;

}

.flexContainerFooter .flexFooterItem.flexFooterItemSmall {

    flex: 20%;

}

.flexContainerFooter .flexFooterItem .flexFooterItemInner {
    width: 60%;
}

.flexContainerFooter .flexFooterItem.footerMainParagraph .flexFooterItemInner p {

    text-align: left;
    color: #676767;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 18px;
    margin-top: 0px;
    line-height: 30px;

}

.flexContainerFooter .flexFooterItem.footerMenu .flexFooterItemInner a {

    text-align: left;
    color: #676767;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 18px;
    margin-top: 0px;
    line-height: 30px;
    display: block;
    text-decoration: none;
    margin-bottom: 15px;

}

footer hr {

    opacity: 0.2;
    width: 96%;
    margin-top: 40px;
    margin-bottom: 40px;

}

.flexContainerFooter.footerRowBottom {

    padding: 0% 0%;

}

.flexContainerFooter.footerRowBottom .flexFooterItem .flexFooterItemInner {

    width: 65%;

}

.flexContainerFooter.footerRowBottom .flexFooterItem .flexFooterItemInner p {

    text-align: left;
    color: #676767;
    font-weight: 200;
    font-family: poppins_regular;
    font-size: 16px;
    margin-top: 0px;
    line-height: 28px;
    opacity: 0.8;

}

.flexContainerFooter .flexFooterItem.footerSubParagraph .flexFooterItemInner {

    float: right;
    width: 100%;

}

.flexContainerFooter .flexFooterItem.footerSubParagraph.footerLinks .flexFooterItemInner p {

    color: #676767;
    font-weight: 600;
    font-family: poppins_regular;
    font-size: 16px;
    margin-top: 0px;
    line-height: 28px;
    opacity: 0.8;
    text-align: right;

}

.flexContainerFooter .flexFooterItem.footerSubParagraph.footerLinks .flexFooterItemInner p a {

    text-align: right;
    color: #676767;
    font-weight: 600;
    font-family: poppins_regular;
    font-size: 18px;
    margin-top: 0px;
    line-height: 30px;
    text-decoration: none;
    margin-bottom: 15px;
    margin-left: 6%;

}






.flexContainerFooter .flexFooterItem.footerLogo img {

    width: 266px;

}

.flexContainerFooter .flexFooterItem.footerHeading h6 {

    font-family: poppins_medium;
    font-size: 18px;
    color: #676767;

}

.flexContainerFooter .flexFooterItem .flexContainerSocials {

    display: flex;
    justify-content: space-around;
    align-items: center;
    WIDTH: 100%;

}

.flexContainerFooter .flexFooterItem .flexContainerSocials .flexSocialsItem {

    flex: 25%;

}

.flexContainerFooter .flexFooterItem .flexContainerSocials .flexSocialsItem img {

    width: 77px;

}


/**
.flexContainerNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    **/
    /** In progress **/
    /**
    background-color: #bfb2c6;
    border-radius: 10px;
}

.flexContainerNav .flexNavItem {
    flex: 33%;
    height: 100%;
}

.flexContainerNav .flexNavItem img {
    width: auto;
    height: 100%;
}

.flexContainerNav .flexNavItem a {
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

.flexContainerNav .flexNavItem a:hover {
    color: #45016E;
}

.flexContainerNav .flexNavItem a.activeNav {
    color: #E61729;
}




.backgroundImage {
    width: 100%;
    height: 500px;
    text-align: center;
    background-image: url('../assets/images/headerbackBack.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
}


.flexContainerShuttle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexContainerShuttle .flexShuttleItem {
    flex: 50%;
}


.flexContainerFooterTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexContainerFooterTop .flexFooterTopItem {
    flex: 33%;
}


.buttonBookNow {
    color: #ffffff;
    background-color: #E61729;
    font-size: 17px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
}
**/
/**IN PROGRESS**/
/**
.buttonBookNow:hover {
    cursor: pointer;
}
**/



/* .flexContainer {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 5em;
} 

.flexContainer {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.flexItem2 {
    padding: 20px;
    flex: 50%;
}

.flexItem2 img {
    width: 100%;
}

.flexItem3 {
    padding: 10px;
    flex: 30%;
}

.flexItem3 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;

}

@media (max-width:800px){
    .flexContainer {
        flex-direction: column;
    }

    .flexItem3 img {
        height: auto;
    }
}*/


