/** FONTS **/

@font-face {
    font-family: 'porter_sans_block';
    src: url('../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.eot');
    src: url('../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.woff') format('woff'),
         url('../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_bold';
    src: url('../assets/fonts/poppins/poppins-bold-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_semi_bold';
    src: url('../assets/fonts/poppins/poppins-semibold-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_medium';
    src: url('../assets/fonts/poppins/poppins-medium-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_regular';
    src: url('../assets/fonts/poppins/poppins-regular-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}


/** ANIMATIONS **/

@keyframes sheem {
	100% {
		left: 125%;
	}
}


/** GENERAL **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins_medium, Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0;
}


/** NAVIGATION **/

.navbar {
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar .navInner {
    position: absolute;
    top: 0px;
    width: 92%;
    /* background-color: #45016E; */
    /* opacity: 0.5; */
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 40px;
    margin-top: 1.5em;
    background: rgba(197, 178, 208, 0.8);
    z-index: 2;

    /**font-family: 'Porter Sans Block';**/
    font-size: 20px;
    color: #000000;
    left: 2%;
}

.navbar .navInner .navbar-brand {
    margin-left: 2em;
    overflow: hidden;
    position: relative;
}

.navbar .navInner .navbar-brand::before {
	position: absolute;
	top: 0;
	left: -70%;
	z-index: 2;
	display: block;
	content: '';
	width: 40%;
	height: 100%;
	background: linear-gradient(to right, rgba(230,23,41,0) 0%, rgba(230,23,41,.4) 100%);
	transform: skewX(-30deg);
}

.navbar .navInner .navbar-brand:hover::before {
	animation: sheem .8s;
}

.navbar .navInner .navbar-brand .navLogo {
    width: 266px;
    transform: scale(1);
	transition: .3s ease-in-out;
}

.navbar .navInner .navbar-brand .navLogo:hover {
    transform: scale(1.1);
}

.navbar .navInner .navbar-nav {
    margin: 0 auto;
}

.navbar .navInner .navbar-nav .nav-link {
    text-decoration: none;
    color: #333333;
    margin-right: 2em;
    font-weight: 600;
    font-size: 20px;
    position: relative;
}

.navbar .navInner .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #FFFFFF;
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
}

.navbar .navInner .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar .navInner .navbar-nav .nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.navbar .navInner .navbar-nav .nav-link.active {
    color: #E61729;
}

.navbar .navInner .navbar-nav .nav-link.active:hover {
    cursor: auto;
}

.navbar .navInner .navbar-nav .nav-link.active::before {
    height: 0px;
}

.navbar .navInner .flexContainerNavSearch {
    background: #ffffff;
    border-radius: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 2em;
}

.navbar .navInner .flexContainerNavSearch .flexNavSearchItem {
    position: relative;
    padding-left: 0.5em;
}

.navbar .navInner .flexContainerNavSearch .flexNavSearchItem.flexNavSearchItemSearchPic img {
    position: relative;
    top: 2px;
    margin-left: 4%;
    width: 35px;
}

.navbar .navInner .flexContainerNavSearch .flexNavSearchItem form input {
    border: 0px;
    border-right: 2px solid #999999;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}

.navbar .navInner .flexContainerNavSearch .flexNavSearchItem.flexNavSearchItemBasketPic img {
    padding: 5px 10px 5px 10px;
    position: relative;
    top: 2px;
}

.navbar .navInner .flexContainerNavSearch .flexNavSearchItem.flexNavSearchItemBasketPic .cartItemsAmount {
    position: absolute;
    border-radius: 50px;
    background-color: #f54b4c;
    color: #ffffff;
    padding: 5px 13px;
    font-size: 16px;
    top: -28px;
    right: -25px;
}


/** HEADER **/

.backgroundImage {
    height: 400px;
    background-image: url(../assets/images/headerbackBack.png);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.backgroundImage h1 {
    top: 50%;
    position: relative;
    font-family: Porter_Sans_Block;
}


/** HISTORY AND GOALS **/

.containerTextImage h5 {

    color: #53bfdb;
    font-family: poppins_medium;

}

.containerTextImage h2 {

    color: #45016E;
    font-family: poppins_bold;

}

.containerTextImage p {

    font-family: poppins_regular;

}

.containerTextImage ol {

    font-family: poppins_regular;

}

.containerTextImage .colTextImageInnerRight {

    height: 100%;
    overflow: hidden;
    border-radius: 50px;
    max-width: 650px;

}

.containerTextImage img {

    transform: translateX(-50%);
    height: 100%;
    position: relative;
    left: 50%;

}


/** FOOTER **/

.foobar .footerLogo .footerLogoInner a {
    overflow: hidden;
    position: relative;
}

.foobar .footerLogo .footerLogoInner a::before {
	position: absolute;
	top: 0;
	left: -70%;
	z-index: 2;
	display: block;
	content: '';
	width: 40%;
	height: 100%;
	background: linear-gradient(to right, rgba(230,23,41,0) 0%, rgba(230,23,41,.4) 100%);
	transform: skewX(-30deg);
}

.foobar .footerLogo .footerLogoInner a:hover::before {
	animation: sheem .8s;
}

.foobar .footerLogo .footerLogoInner img {
    width: 266px;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.foobar .footerLogo .footerLogoInner img:hover {
    transform: scale(1.1);
}

.foobar h6 {
    font-family: poppins_medium;
    /**color: #676767;**/
}

.foobar p {
    color: #676767;
    font-family: poppins_regular;
}

.foobar a {
    color: #676767;
    font-family: poppins_regular;
    display: block;
    position: relative;
}

.foobar .footerMenu a:hover {
    color: #E61729;
}

.foobar .footerMenu a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #E61729;
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
}

.foobar .footerMenu a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.foobar .footerSocialInner img {
    width: 77px;
    border-radius: 12px;
}

.foobar .footerSocialInner:hover img {
    background: #E61729;
}

.foobar .footerLinks a {
    display: inline;
}

